$primaryColor: #c0392b;
$primaryColorDark: #88291f;
$primaryColorLight: #d96256;

$fontColor: #333;

$grayDark: #1a1a1a;
$grayLight: #f5f6fa;

$white: #fff;

// RESPONSIVE BREAKPOINTS

$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 53em; // 850px
$bp-small: 37.5em; // 600px
$bp-smallest: 28.1em; // 450px

